body {
  --color-red: #bf7479;
  --color-red-a: #bf747999;
  --color-red-b: #bf7479cc;
  --color-green: #7faaa0;
  --color-green-a: #7faaa099;
  --color-green-b: #7faaa0cc;
  --color-purple: #705892;
  --color-purple-a: #70589299;
  --color-purple-b: #705892cc;
  --color-yellow: #efb77e;
  --color-yellow-a: #efb77e99;
  --color-yellow-b: #efb77ecc;
  --color-font: #363636;
}

::selection {
  color: white;
  background-color: pink;
}

html,
body {
  width: 100%;
  cursor: url(../images/cursor.svg) 5 0, default;
  animation: 3s scroll-hidden forwards;
}

@keyframes scroll-hidden {
  0% {
    overflow: hidden;
  }

  99% {
    overflow: hidden;
  }

  100% {
    overflow: auto;
  }
}

a {
  cursor: url(../images/pointer.svg) 8 0, default;
}

h2,
h3,
h4,
p {
  cursor: url(../images/cursor-text.svg) 8 0, default;
}

html {
  scroll-behavior: smooth;
  margin: 0;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
}

.content {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.buttons_updown {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 5;
}

.button_up,
.button_down {
  transition: 0.35s;
}

.button_up:hover,
.button_down:hover {
  scale: 1.1;
}

.button_up img,
.button_down img {
  width: 6vw;
}

.title h3 {
  font-size: 18px;
}

/* --------------------loading------------------------------ */

#loading {
  width: 100%;
  height: 100vh;
  background-color: #888;
  position: fixed;
  animation: 3s waiting forwards;
}

#loading img {
  width: 200px;
  height: 200px;
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
  animation: 3s rotate linear;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(1080deg);
    display: none;
  }
}

@keyframes waiting {
  0% {
    z-index: 5;
    overflow: hidden;
  }

  99% {
    z-index: 5;
    overflow: hidden;
  }

  100% {
    z-index: -5;
    overflow: auto;
  }
}



/* -----Scrollbar CSS ----- */
/* Firefox */
html {
  scrollbar-width: auto;
  scrollbar-color: #888888 #ffffff;
}

/* Chrome, Edge, and Safari */
html::-webkit-scrollbar {
  width: 16px;
}

html::-webkit-scrollbar-track {
  background: #ffffff;
}

html::-webkit-scrollbar-thumb {
  background-color: #888888;
  border-radius: 10px;
  border: 3px solid #ffffff;
}


/* --------------------fonts------------------------------ */

@font-face {
  font-family: 'Look-Script';
  src: url('../fonts/look-script-regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KaushanScript';
  src: url('../fonts/KaushanScript-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}