footer {
  width: 100%;
  margin: 0;
  padding: 80px 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/bg-footer.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

.footer_line {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-family: sans-serif;
  font-weight: 400;
  text-align: center;
  color: #fff;
}

.footer_icon svg {
  width: 35px;
  height: 35px;
}

#line-up_svg {
  stroke: var(--color-red);
}

#user-add_svg {
  fill: var(--color-green);
}

#heart_svg {
  stroke: var(--color-purple);
}

#poloroid_svg {
  stroke: var(--color-yellow);
}

.footer_number {
  font-size: 14px;
}

.footer_text {
  font-size: 12px;
}

.footer_cdot svg {
  width: 25px;
  height: 25px;
}

.footer_line_item:nth-child(1) .cdots {
  color: var(--color-red);
}

.footer_line_item:nth-child(2) .cdots {
  color: var(--color-green);
}

.footer_line_item:nth-child(3) .cdots {
  color: var(--color-purple);
}

.footer_line_item:nth-child(4) .cdots {
  color: var(--color-yellow);
}

#svg_hidden {
  display: none;
}