header {
  width: 100%;
  height: 50px;
  background-color: #fff;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

header .content {
  display: flex;
  flex-direction: row;
}

.content .logo {
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.logo p {
  font-family: Look-Script, sans-serif;
  font-size: 20px;
}

header span {
  color: var(--color-red);
}

.content nav {
  width: 90%;
  height: 50px;

}

.header_menu,
.menu_list {
  width: 100%;
  height: 100%;
}

.menu_list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 12px;
  font-family: sans-serif;
}

nav a {
  display: block;
  color: #000;
  margin-left: 5px;
  padding: 5px;
  border-bottom: 2px solid transparent;
  position: relative;
  transition: 0.5s;
}

nav a::before {
  content: '';
  width: 0;
  height: 2px;
  background-color: var(--color-red);
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s;
}

nav a:hover:before {
  width: 100%;
}

.header_menu img {
  display: none;
}