#portfolio {
  width: 100%;
  text-align: center;
  color: #303030;
  padding: 50px 0;
}

.portfolio_photo_block {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: var(--gap-var);
  flex-wrap: wrap;
}

.photo_block_item {
  width: calc((100% - 2 * var(--gap-var)) / 3);
  aspect-ratio: 35 / 26;
  position: relative;
  transition: 0.35s;
  overflow: hidden;
}

.photo_block_item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0007;
  opacity: 0;
  transition: 0.35s;
}

.photo_block_item:hover:before {
  opacity: 1;
  transition: 0.35s;
}

.photo_block_item img {
  width: 100%;
  height: 100%;
}

.add_button {
  width: 80px;
  position: absolute;
  top: calc(50% - 66px);
  left: calc(50% - 40px);
  transition: 0.35s;
  opacity: 0;
  transition: 0.35s;
}

.photo_block_item:hover .add_button {
  opacity: 1;
  transition: 0.35s;
}

.add_button:hover {
  scale: 1.1;
  transition: 0.35s;
}

.hover_block {
  width: 100%;
  position: absolute;
  bottom: -48px;
  transition: 0.35s;
}

.photo_block_item:hover .hover_block {
  bottom: 0;
  transition: 0.35s;
}

.hover_block .top {
  width: 100%;
  height: 3px;
  background-image: linear-gradient(90deg, var(--color-red) 24%, var(--color-green), var(--color-green) 49%, var(--color-purple) 51%, var(--color-purple) 75%, var(--color-yellow) 76%);
}

.hover_block .text {
  padding: 10px;
  background-color: #fff;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 500;
}