#video_block {
  width: 100%;
  height: 300px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/office_table.jpg);
  background-size: cover;
  background-position: 50% 50%;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: sans-serif;
}

#video_block h3 {
  font-weight: normal;
  font-size: 30px;
}

.play_button {
  width: 60px;
  height: 60px;
  background-image: url(../images/play-circle.svg);
  background-size: 100% 100%;
  cursor: url(../images/pointer.svg) 5 0, default;
  transition: 0.35s;
}

.play_button:hover {
  scale: 1.1;
  transition: 0.35s;
}